# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{scss,ts,tsx}]
indent_style = tab
trim_trailing_whitespace = true

[{.gitlab-ci.yml, package.json}]
indent_style = space
indent_size = 2
